{{ define "main" }}
<div class="stack">
    <hgroup>
        <h1>{{ .Title }}</h1>
    </hgroup>

    {{ with .Content }}
    <p class="wrapper">
        {{ . }}
    </p>
    {{ end }}

    <section class="stack">
        {{ $posts := where .Site.RegularPages.ByDate.Reverse "Section" "blog" }}
        
        {{ if $posts }}
            {{ range $posts }}
            <article class="stack">
                <hgroup>
                    <h2>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </h2>
                    {{ if .Params.subtitle }}
                    <p>{{ .Params.subtitle }}</p>
                    {{ end }}
                </hgroup>
                
                {{ if .Summary }}
                <p class="__content wrapper">
                    {{ .Summary }}
                </p>
                {{ end }}
                
                <p class="__meta cluster" data-cluster="end">
                    {{ if .Date }}
                    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                        {{ .Date.Format "January 2, 2006" }}
                    </time>
                    {{ end }}
                </p>
            </article>
            {{ end }}
        {{ else }}
            <p>No blog posts found.</p>
        {{ end }}
    </section>
</div>
{{ end }}