.cover {
	display: flex;
	flex-direction: column;
	min-block-size: 100vh;
	padding: 1rem;
}

.cover > * {
	margin-block: 1rem;
}

.cover > :first-child:not(.__principal-element) {
	margin-block-start: 0;
}

.cover > .__principal-element {
	margin-block: auto;
}

.cover > :last-child:not(.__principal-element) {
	margin-block-end: 0;
}
